/* *{
    background-color: black;
} */


.containercounter{
    width:100%;
    /* position: absolute; */
    margin-top: 100px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white;
    font-weight: bold;
}

.count{
    margin:40px 0;
    margin-left: 50%;
    width: 100%;
    padding: 20px;
}

.countd{
    display:inline-block;
    width: 110px;
    height: 110px;
    border:5px solid;
    margin :0 30px;
    font-size: 12px;
    background-color: rgb(255,255,255,0.2);
    overflow: hidden;

}

.countd span{
    display: block;
    font-size: 48px;
    margin-top:2px;
    
}