@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

  .flexitem{
      display:flex;
      flex-direction: row;
      text-align: center;
      margin: auto;
  }
  .flexitem div{
      flex:50%
  }
  .data{
    color:#f1c40f;
    font-size:90px;
    font-weight:900;
    font-family: "ui-rounded";
  }
  .image{
    height:500px;
  
  }
  .imagedir{
    width:23%;
    margin: 40px;
    padding-left: 30px;
    border:5px ;
    /* border-radius: 25px 25px 25px 25px; */
  }
  .regbtn{
    color:#ccccff;
    /* background-color: rgb(228, 74, 47); */
    background: transparent;
    border-radius: 25px;
width:25%;
    font-size: 30px;
    
    border:5px inset #f1c40f;
    cursor: pointer;
  }
  .regbtn:hover{
 
width:27%;
    
    color:#ccccff;
    background-color: #576574;
    border-radius: 25px;

    font-size: 30px;
    border:5px inset #576574;
    cursor: pointer;
  }

  p{
    text-align: center;
    font-size: x-large;
    padding:10px;
    font-family: cursive;
  }
  .msg  {
    
    font-family: cursive;
    padding-left:6rem;
    
        
}

.info{
  padding: 30px 50px 30px 30px;
  text-align: center;
}
 .info h4 , h3 {
  font-size: 18px;
  line-height: 1.5rem;
  text-align: left;
  
}
  @media (max-width: 800px) {
   
    .flexitem{
      display: block;
      padding: 20px;
      width: 100%;
    }
    .data{
      color:#f1c40f;
      font-size:60px;
      font-weight:800;
      font-family: "ui-rounded";
    }
   } 