@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

  .flexitem{
      display:flex;
      flex-direction: row;
      text-align: center;
      margin: auto;
  }
  .flexitem div{
      flex:50%
  }
  .data{
    color:#f1c40f;
    font-size:60px;
    font-weight:900;
    font-family: "ui-rounded";
  }
  .image{
    height:40%;
  
  }
  .imagedir{
    width:80%;
    margin: 40px;
    padding-left: 30px;
    border:5px ;
    /* border-radius: 25px 25px 25px 25px; */
  }
  .regbtn{
    color:#ccccff;
    /* background-color: rgb(228, 74, 47); */
    background: transparent;
    border-radius: 25px;
width:50%;
    font-size: 30px;
    
    border:5px inset #f1c40f;
    cursor: pointer;
  }
  .regbtn:hover{
 
    width:50%;
    
    color:#ccccff;
    background-color: #576574;
    border-radius: 25px;

    font-size: 30px;
    border:5px inset #576574;
    cursor: pointer;
  }
.section{
  margin-top: -500px;
  padding: 1px 50px;
}
.info{
  padding: 30px 50px 30px 30px;
  text-align: center;
  border-left: 5px solid red;
  
}
 .info h4 , h3 {
  font-size: 18px;
  line-height: 1.5rem;
  text-align: center;
  
}

.cliens {
  padding: 25px 0;
  text-align: center;
 
}

.cliens img {
  max-width: 85%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.cliens img:hover {
  -webkit-filter: none;
  filter: none;
  transform: scale(1.8);
}

@media (max-width: 768px) {
  .cliens img {
    max-width: 40%;
  }
}
  @media (max-width: 900px) {
   
    .image{
      height:35%;
    }
   } 

   #logoheading{
     display: flex;
     align-items: center;
     justify-content: center;
     color:  #f1c40f;
   }