.pic{
      /* height:50%;
      width:70%; */
border-radius:100%;
box-shadow: 5px 5px 10px 1px grey;
    }
  .flexitem{
      display:flex;
      flex-direction: row;
      text-align: center;
      margin: auto;
  }
  .flexitem div{
      flex:50%
  }
  @media (max-width: 800px) {
   
    .flexitem{
      display: block;
      padding: 20px;
      width: 100%;
    }
   } 