 

#sidebar-wrapper {
  min-height: 100vh;
  display: none;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}
#sidebar-wrapper .list-group-item {
  border: none;
  background: none;
  text-align: center;
}
#sidebar-wrapper a:hover  {
  color:blue;
}
#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

 @media (max-width: 1000px) {
   
  #sidebar-wrapper {
    margin-left: 0;
    width:100%;
    display: none;
 animation: slidein  1s ;
 }
 
 @keyframes slidein {
    from {
       margin-left:-500px;
  
    }
    to {
       margin-left:0%;
      
    }
 }
  #wrapper {
    margin-left: 0;
    width:100%;
    display: block;
  }
  #sidebar-wrapper .list-group{
    width:100%;
    
  }
} 

#footer{

  margin-top:250px;
}
.item{
  text-align: center;
}
