body{
  /* background:  linear-gradient(to right ,   #1e5799 0%, #3ccdbb 0% , #16c9f6 100%); */
  background-color:  #000033;
  margin: 0px;
}
a:hover{
  text-decoration: none;
  background-color: rgb(34, 3, 68);
}
.flex{
  display: flex;
  flex-direction: row;
}
.canvas{
  position : fixed;
  top: 0%;
  width: 100%;
  height: 100%;
}
@media (max-width: 1000px) {
   
 .flex{
   display: block;
   /* padding: 20px; */
   width: 100%;
 }
} 